.top-container {

.book-subtitle{
    margin: 0;
}
.star-rating{
    margin-top: 6px;
}
.button-style{
    border-radius: 20px;
}
.Favorite-icon{
    background-color: rgb(92, 33, 33);
    margin: 0 10px;
}
.number-of-pages{
  margin-top: 12px !important;
}
}