.list-item {
    width: 50%;
    display: flex;
    justify-content: space-around ;
    border-bottom: 2px solid gray;
    border-radius: 3px;
    padding: 15px;
    button {
        background-color: red;
        color: white;
        border: none;
        border-radius: 3px;
        width: 60px;
        height: 30px;
        &:hover {
            cursor: pointer;
        }
    }
    .decorate-text{
        text-decoration: line-through;
    }

}